sudo: required
services:
  - docker
script:
  - docker build -t delta62/samnoedel.com .
after_success:
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - if [ "$BRANCH" == "master" ] then;
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push delta62/samnoedel.com;
    fi

